:root{
    --accent-color: #0095DA;
    --bg-color-dark: #011C2F;
    --bg-color: #C6E1ED;
    --bg-color-light: #F0FAFF;
    --text-color-dark: #000000;
    --text-color-light: #ffffff;
    --table-bg-color: #ffffff;
}