.contacts{
    align-items: center;
    background-color: var(--bg-color);

    

    &__block{
        display: flex;
        justify-content: space-between;
        margin-top: 95px;

        @media(max-width: 480px){
            flex-direction: column;
            margin-top: 50px;
        }
    }

    &__img{
        aspect-ratio: 5/6;
        border-radius: 20px;
        margin-right: 95px;

        @media(max-width: 480px){
            position: absolute;
            pointer-events: none;
            opacity: 0;
        }
    }

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-color: var(--table-bg-color);
        max-width: 600px;
        aspect-ratio: 1/1;
        width: 100%;
        border-radius: 20px;
        padding: 30px 50px;

        @media(max-width: 480px){
            max-width: none;
            // padding: 30px;
        }

        p, li{
            font-size: 1.25rem;
            line-height: 125%;
            @media(max-width: 480px){
                font-size: 0.8rem;
            }
        }


    }

    &__btn{
        background-color: var(--bg-color-dark);
        padding: 20px;
        max-width: 189px;
        font-family: 'Roboto Regular';
        font-size: 1rem;
        line-height: 125%;
        text-transform: uppercase;
        text-align: center;
        color: var(--text-color-light);
        margin-top: 8px;

        transition: background-color 0.3s ease-in-out;

        @media(max-width: 480px){
            padding: 15px;
            font-size: 0.8rem;
        }

        &:hover, &:active{
            background-color: var(--accent-color);
        }
    }
}